@font-face {
    font-family: 'BoldFont';
    src: url('../fonts/FiraSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NormalFont';
    src: url('../fonts/AbhayaLibre-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px 340px 0px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-color: #40403e;
}

.content {
    position: absolute;
    height: 4000px;
    width: 1120px;
    padding: 30px 50px 0px;
    background-color: cornsilk;
}

.topics {
    margin-top: 40px;
}

.titleText {
    color: rgb(92, 25, 25);
    font-family: 'BoldFont';
}

.topicText {
    color: rgb(92, 25, 25);
    font-size: 18px;
    font-family: 'BoldFont';
}

.contentText {
    color: rgb(92, 25, 25);
    font-family: 'NormalFont';
    font-size: 18px;
}

.questionText {
    color: rgb(92, 25, 25);
    font-family: 'NormalFont';
    font-size: 20px;
}

a.btn {
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 0 50px 50px #ff5100 inset;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    transition: .15s ease-in-out;
}

a.btn:hover {
    box-shadow: 0 0 10px 0 #6200ff inset, 0 0 10px 4px #6200ff;
    color: #6200ff;
}

.scale {
    display: block;
    overflow: hidden;
    width: 119px;
    height: 85px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgb(0, 17, 255);
    border-radius: 5px;
    margin: 0 auto;
}

.scale img {
    transition: 1s;
    display: block;
}

.scale img:hover {
    transform: scale(1.1);
}

#canvas {
    display: none;
    margin: 0 210px;
}

#canvas2 {
    display: none;
    margin: 0 160px;
}

#answer {
    display: none;
    color: rgb(143, 40, 40);
    font-family: 'NormalFont';
    font-size: 20px;
    margin: 0px 430px
}

.logo {
    display: block;
    overflow: hidden;
    width: 668px;
    height: 155px;
    margin: 0 auto;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.01);
}